<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active" routerLinkActive="active">Home</a>
  <ul class="navbar-nav">
    <li class="nav-item">
     <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">About me</a>
    </li>
  </ul>
</nav>
</div>

<div class="container" style="padding-top: 50px">
<h4>Name:<h3 style="font: 1em sans-serif;">Vaibhav gupta</h3></h4>  

<h4>Designation:<h3 style="font: 1em sans-serif;">Student(KIET Group of Instititutions)( Btech IT)</h3></h4>

<h4>Email:<h3 style="font: 1em sans-serif;">vaibhavgupta5422@gmail.com</h3></h4>

<h4>Phone :<h3 style="font: 1em sans-serif;">90xxxxxxx</h3></h4>
</div>

<router-outlet></router-outlet>